body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}
header img {
    width: 150px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
nav ul li a:hover {
    color: #6a5acd;
}
.hero {
    padding: 20px 20px;
    text-align: center;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.hero button {
    padding: 15px 30px;
    background-color:  #3f52ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.hero button:hover {
    background-color: #5a4abf;
}
.hero .card{
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 2px;
    width: 60%;
}
.features {
    padding: 50px 20px;
    background-color: #fff;
}   

.features h2 {
    margin-bottom: 4px;
    color: black;
    font-size: xx-large;
}
.features p {
    font-size: 1rem;
    line-height: 1.5;
}
.features .card{
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 2px;
    width: 60%;
}
.interaction {
    padding: 50px 20px;
    background-color: #fff;
}
.interaction h2 {
    text-align: center;
    margin-bottom: 4px;
    color: black;
    font-size: xx-large;
}
.interaction .card {
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 60%;
}
.interaction .card p {
    font-size: 1rem;
    margin: 0;
}
.interaction .card strong {
    color: black;
}

footer {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
}